.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer {
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 90%;
}